<section id="educacion" class="educacion" >
    <div class="container-fluid" id="caja" >
        <div class="row">
            <div class="col">
                <p class="titulo" id="titulo">Educacion</p>
            </div>
            <div class="col">
                <a class="editar_placas" href="#" title="Agregar" class="btn btn-lg add" data-bs-toggle="modal" data-bs-target="#educacionModal"><i class="fa-solid fa-plus"></i></a>
            </div>
        </div>
            <div class="row" *ngFor="let education of educacionList">
            <div class="col-2">
                <img [src]="education.logo" class="logo" alt="logo ucc">
            </div>
            <div class="col-8">
                <p class="educacion" id="nombre">{{education.nombre}}</p>
                <p class="educacion" id="descripcion">{{education.descripcion}}</p>
            </div>
            <div class="col-2">
                <ul class="list-group list-group-horizontal edicion">
                    <li><a class="editar_placas" href="#" title="Editar" class="btn btn-light btn-lg p-5" data-bs-toggle="modal" data-bs-target="#educacionModal"><i class="fa-solid fa-pen-to-square"></i></a></li>
                    <li><a class="editar_placas" href="#" title="Borrar" class="btn btn-light btn-lg p-5 " data-bs-toggle="modal" data-bs-target="#eliminar"><i class="fa-solid fa-trash-can"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Modales-->
<app-education></app-education>
<app-button-eliminar></app-button-eliminar>