<section id="about" class="about">
    <div class="container-fluid" id="about">
        <div class="row" *ngFor="let aboutMe of sobreMiList">
            <div class="col-3">
                <img [src]="aboutMe.img_perfil" class="rounded-circle w-75" alt="foto de perfil" id="img_perfil">
            </div>
            <div class="col-1 text-center edit">
                <a class="editar_placas" href="#" title="Editar" class="btn btn-light btn-lg p-5 " data-bs-toggle="modal" data-bs-target="#perfilModal"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
            <div class="col-6">
                <p class="about" id="nombre_apellido"><strong>{{aboutMe.nombre_apellido}}</strong></p>
                <p class="about" id="profesion">{{aboutMe.profesion}}</p>
                <div class="row">
                    <div class="col">
                        <p class="about" id="pais">{{aboutMe.pais}}</p>
                        <p class="about" id="ciudad">{{aboutMe.ciudad}}</p>
                    </div>
                    <div class="col">
                        <p class="about" id="email">{{aboutMe.email}}</p>
                        <p class="about" id="celular">{{aboutMe.celular}}</p>
                    </div>
                </div>
            </div>
            <div class="col-2 text-center edit">
                <a class="editar_placas" href="#" title="Editar" class="btn btn-light btn-lg p-5 " data-bs-toggle="modal" data-bs-target="#aboutModal"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="caja">
        <div class="row" *ngFor="let aboutMe of sobreMiList">
            <div class="col-10">
                <p class="titulo" id="titulo">Sobre Mi</p>
                <p class="about-me" id="descripcion">{{aboutMe.descripcion}}</p>
            </div>
            <div class="col-2 text-center edit">
                <a class="editar_placas" href="#" title="Editar" class="btn btn-light btn-lg p-5 " data-bs-toggle="modal" data-bs-target="#sobreMiModal"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
        </div>
    </div>
</section>
<!--Modales-->
<app-mis-datos></app-mis-datos>
<app-sobre-mi></app-sobre-mi>
<app-imagen-perfil></app-imagen-perfil>